.container {
    width: 100%;
}

body {
    min-height: 100vh;
    min-width: 100%;
    margin: 0 0 0 0;
    background-color: #FFCDB2;;
}

div#top-navbar {
    width: 100%;
    height: 42px;
    background: #FFB4A2;
    display: flex;
}

div#navbar-logo img {
    height: 70%;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

div#navbar-bars img {
    height: 90%;
    margin-right: 0.5em;
}

div#navbar-bars {
    width: 100%;
    display: flex;
    justify-content: end;
}

input {
    border: none;
}

form#form-links {
    display: grid;
    justify-content: center;
    margin-top: 1.5em;
}

::placeholder {
    color: white;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

input#name, input#url {
    width: 200px;
    height: 38px;
    background: #B5838D;
    border-radius: 15px;
    margin-top: 1em;
}


input#name {
    background-image: url('../svg/ab-text.svg');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding-left: 4em;
}

input#url {
    background-image: url('../svg/url-thin.svg');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding-left: 4em;
}

button {
    border: none;
}

div#button-submit {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

button#form-submit {
    width: 114px;
    height: 48px;
    background: #E5989B;
    border-radius: 50px;
}

div#center {
    width: 100%;
    display: flex;
    justify-content: center;
}

div#pinkLine {
    width: 376px;
    height: 5px;
    background: #E76B6B;
    margin: 3em;
}

div#card-group {
    display: grid;
    justify-content: center;
}

div.card {
    margin-top: 1em;
    width: 269px;
    height: 78px;
    background: #2A9D8F;
    border-radius: 50px;
    line-height: 80px;
    display: flex;
}

div.card-name a:link, a:hover, a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 0.5em;
}

div.card-name {
    width: 100%;
}

div.card-action {
    /* width: 100%; */
    display: grid;
    justify-content: end;
}

div.card-action img {
    margin-top: 25px;
    margin-right: 0.5em;
}

main {
    margin-top: auto;
    margin-bottom: 50px;
}

footer{
    background-color: #6D6875;
    width: 100%;
    bottom: 0;
    position: relative;
}

div#rodape{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div#coluna1{
    width: 50%;
}

div#coluna2{
    width:50%;
    margin-bottom: 0.5em;
}

div#coluna1 p{
    text-align: left;
    color: white;
}

div#coluna2 p{
    text-align: right;
    color: white;
}